.errors {padding-top: 10px; list-style-type: none; text-align: left; margin: 0 10px;}
li {font-family: consolas; padding: 2px 5px; background-color: #333; margin-bottom: 1px;}
.invalid {color: orange;}
.unreached {color: gray;}
.status {color: lightgreen;
  padding: 10px;
  margin-top: 90px;
  font-size: 46pt;
  font-weight: bold; 
}
.ko {color: red; margin-top: 10px;}