#cr-graph-container {
    margin: 0 auto;
    font-size: 12px; 
    padding: 0;
    position: relative;
}

.wrapper {
  width: 800px;
  height: 320px;
  margin: 0 auto;
  background-color: none;
  padding: 20px 40px;
  border-radius: 10px;
}

#path {position: absolute; left: 225px; width: 500px; z-index: 1;}

    .labely {
      color: #fff;
      position: absolute; 
      top: 20px; 
      left: -20px; 
      -webkit-transform: rotate(-90deg); 
      -webkit-transform-origin: right bottom; 
      -moz-transform: rotate(-90deg); 
      -moz-transform-origin: right bottom;
    }
    .labelx {
      color: #fff;
      width: 300px; 
      position: absolute; 
      bottom: 30px; 
      right: 80px; 
      text-align: right;
    }