/* your widget's CSS goes here */
section{
	display:-webkit-flex
}

div.side{
	width:50%;
}

img {
  margin-top: 10px;
}

#message {
  padding-top: 5px;
  color: yellow;
  font-size: 10pt;
}

#links{
	width:80%;
  float:left;
}

#status{
  float:left;
	width:10%;
}

#rules,#yslowReport,#links,#status{
  list-style-type:none;
  text-align:left;
  font-weight:bold;
}

#rules li span{
	color:green;
}

.error{
	color:red !important;
}

.warning{
	color:orange;
}

.success{
	color:green;
}

#alerts,#warnings{
	text-align:left;
}

#note{
	text-align:center;
  font-weight:bold;
}

.marginbottom{
	margin-bottom:5px;
}

.alignleft{
	text-align:left;
}