---
title: Home
---

<h2 class="h2">CSS Specificity stats</h2>
<div class="bx">
	<ul class="nav nav-tabs-secondary">
		<li class="active" data-filter="avgScore"><a>Avg Score</a></li>
		<li data-filter="score"><a>Total Score</a></li>
		<li data-filter="explainScore"><a>Explain Score</a></li>
		<li data-filter="explainAvgScore"><a>Explain Avg Score</a></li>
		<li data-filter="cssLength"><a>Weight</a></li>
		<li data-filter="selectorsCount"><a>Selectors count</a></li>
	</ul>
	<div id="bar-chart-holder" class="mtl"></div>
</div>
<div class="bx">
	<div id="scatter-plot-chart-holder"></div>
</div>
<script src="js/bar-chart.js"></script>
<script src="js/scatter-plot-chart.js"></script>
<script src="js/main.js"></script>