<!doctype html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css" href="bower_components/tetra-ui/dist/css/tetra-ui.css" />
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<style type="text/css">

			body {background: #e8e9eb; padding: 30px;}

			svg { shape-rendering: crispEdges; }
			circle {shape-rendering: auto; fill : #999;}
			circle:hover {cursor: pointer;}
			text { font-family: Arial; fill: #000; font-size: 8pt; }

			#bar-graph-holder .line { stroke : #444; }
			#scatter-plot-chart-holder {height: 400px;}

		</style>
	</head>
	<body>
		{{> body }}
	</body>
</html>