---
title: Statistics
---

<h2 class="h2">JS Complexity</h2>
<div class="flex-container">
	<div class="flex-item flex-ratio-1">
		<div class="bx">
			<div id="js-complexity-bar-chart"></div>
		</div>
	</div>
	<div class="flex-item flex-ratio-1">
		<div class="bx">
			<div id="js-complexity-scatter-plot-chart"></div>
		</div>
	</div>
</div>

<h2 class="h2">CSS Specificity</h2>
<div class="flex-container">
	<div class="flex-item flex-ratio-3">
		<div class="bx">
			<ul class="nav nav-tabs-secondary mbxs">
				<li class="active" data-filter="avg"><a>Avg Scr</a></li>
				<li data-filter="s"><a>Total Scr</a></li>
				<li data-filter="w"><a>Weight</a></li>
				<li data-filter="sc"><a>Select. count</a></li>
			</ul>
			<div id="css-score-bar-chart"></div>
		</div>
	</div>
	<div class="flex-item flex-ratio-2">
		<div class="bx">
			<div id="css-score-scatter-plot-chart"></div>
		</div>
	</div>
</div>

