/* your widget's CSS goes here */
section{
    font-family:Arial;
    background:whitesmoke;
    color:#333;
}

section thead tr th{
    width:100px;
}

section thead tr th:not(:first-child){
    width:100px;
  	border-left:#333 1px solid;
    text-align:center;
}

section tbody tr td:not(:first-child){
	text-align:center;
  border-left:#333 1px solid;
	padding:1px;
}

.note{
	text-align:center;
}

.critical{
	color:#e72e2e;
}

.warning{
	color:#ff9001;
}

.ok{
  color:green;
}

.details{
	display:none;
  position:relative;
  background:whitesmoke;
  width:100%;
  text-align:left;
}

.details td{
	padding-left:15px;
  padding-top:5px;
}

#message {
  padding-top: 5px;
  color: yellow;
  font-size: 10pt;
}
